#header{
	background-color: #38a2dd;
}
body{
	margin: 0;
}

#groupName{
	float: left;
}

h1{
	text-align: center;
}

#setInfo {
	border: solid black;
	
}

.availInfo {
	width: 15px;
	padding: 0 1vw;
}
